<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.MockDataMapper">
    <insert id="insertNew" parameterType="com.github.hcsp.io.News">
        insert into NEWS (title, content, url, created_at, modified_at) values(#{title}, #{content}, #{url}, #{created_at}, #{modified_at})
    </insert>
    <select id="selectTopNews" resultType="com.github.hcsp.io.News">
        select title, content, url, created_at, modified_at from NEWS;
    </select>
</mapper>